.content-body {
  position: fixed;
  top: 15%;
  box-sizing: border-box;
  width: 83vw;
  margin-left: 30px;
}

.brand-logo {
  color: #7367f0;
  text-decoration: none;
  box-sizing: border-box;
}

.brand-logo img {
  vertical-align: middle;
  box-sizing: border-box;
  width: 42px;
}

.brand-logo h2 {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
  font-size: 1.714rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  box-sizing: border-box;
}

.contentIndexContainer {
  text-align: center;
}

.contentIndexContainer h2 {
  margin-bottom: 1rem !important;
  font-size: 1.714rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: #5e5873;
  box-sizing: border-box;
  text-align: center !important;
}
